/*=========================
28. Start Skills Style
===========================*/

.skills-heading-wrap {
  @media #{$md-device} {
    margin-bottom: 53px;
  }

  @media #{$sm-device} {
    margin-bottom: 40px;
  }

  .heading-icon {
    font-size: 100px;
    color: $brandColor;
    line-height: 75px;

    @media #{$xs-device} {
      font-size: 75px;
      line-height: 50px;
    }
  }

  h3 {
    font-weight: 500;
    margin-top: 55px;

    @media #{$md-device} {
      margin-top: 30px;
    }

    @media #{$sm-device} {
      margin-top: 20px;
    }
  }

  &--2 {
    color: $white;
    margin-bottom: 0;
    padding: 0 15px;

    @media screen and (min-width: 1550px) {
      padding: 30px 70px;
    }

    @media #{$md-device} {
      padding: 0 50px;
    }

    h3 {
      color: $white;
      font-family: $fontPD;
      font-weight: 700;
      margin-top: 0;

      @media #{$xl-device} {
        padding-right: 55px;
        line-height: 1.4;
      }
    }

    p, .text {
      margin-top: 30px;
    }
  }
}

.skills-right-wrapper {
  @media #{$md-device} {
    padding: 75px 50px 80px;
  }

  @media #{$sm-device} {
    padding: 55px 15px;
  }
}

// Ht Pie Chart Style
.ht-pie-chart {
  text-align: center;
  position: relative;

  .progressbar-percent {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

// Single Skill Item Style
.progressbar-item {
  margin-top: 30px;

  @media #{$xl-device} {
    padding: 0 20px;
  }

  &__txt {
    margin-top: 32px;
    font-size: 15px;

    @media #{$sm-device} {
      margin-top: 20px;
    }

    h5 {
      font-size: 18px;
      font-weight: 500;

      @media #{$sm-device} {
        margin-bottom: 10px;
      }
    }
  }

  &--line {
    @media #{$xl-device} {
      padding: 0;
    }

    .progress {
      &-info {
        color: $headingColor;
        font-size: 15px;
        font-weight: 500;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;

        &__percent {
          color: $brandColor;
        }
      }

      &-line {
        background-color: $white;
        height: 4px;
        position: relative;
        width: 100%;

        &-softWhite {
          background-color: $softWhite;
        }

        &-bar {
          background-color: $brandColor;
          position: relative;
          height: 100%;
          width: 0;

          &:before {
            background-color: $brandColor;
            border-radius: 50%;
            content: '';
            position: absolute;
            bottom: -4px;
            left: calc(100% - 12px);
            transition: 0.4s;
            height: 12px;
            width: 12px;
            z-index: 9;
          }
        }
      }
    }
  }
}

.freelancer-skills-area {
  .section-title {
    h3 {
      font-weight: 500;
    }
  }
}