//== Typography Variable
$baseFont: 'Work Sans', sans-serif;
$headingFont: 'Montserrat', sans-serif;
$fontPD: 'Playfair Display', serif;
$baseFontSize: 17px;
$pe-icon: 'Pe-icon-7-stroke';
$fa-icon: 'FontAwesome';
$linea-basic: 'linea-basic-10';
$linea-arrows: 'linea-arrows-10';

//== Site Typography Colors
$paragraph: #777777;
$headingColor: #333333;
$ashColor: #aaaaaa;
$borderColor: #eee;
$gray: #cccccc;

//== Site Brand Color
$brandColor: #0D50AA;
$brandColor2: #e4ab71;
$secondaryColor: #db1439;

//== Alternative Color
$white: #FFFFFF;
$offWhite: #f1f5f8;
$softWhite: #f5f5f5;
$black: #000000;
$blackSoft: #222222;
$navy: #141933;
$pink: #FF69B4;
$violet: #5F36C3;
$olive: #559137;
$green: #008000;
$red: #db0404;
$orange: #f5740a;
$yellow: #fbbf00;

//== Social Media Icons Color
$facebook: #3B5999;
$twitter: #1DA1F2;
$pinterest: #CB2028;
$youtube: #CC332D;
$reddit: #FF4500;

//== Responsive Media Query Variables
$xlmax-device: 'only screen and (min-width: 1200px) and (max-width: 1599.98px)';
$xl-device: 'only screen and (min-width: 1200px)';
$lg-device: 'only screen and (min-width: 992px) and (max-width: 1199.98px)';
$md-device: 'only screen and (min-width: 768px) and (max-width: 991.98px)';
$sm-device: 'only screen and (max-width: 767.98px)';
$xs-device: 'only screen and (max-width: 575.98px)';
$xxs-device: 'only screen and (max-width: 479.98px)';